.grid {
  &--auth {
    display: grid;
    grid-template-columns: 1fr minmax(290px, 1fr) 1fr;
    grid-template-rows: 1fr minmax(290px, 1fr) 1fr;
    grid-template-areas: ". . ." ". login ." ". . .";
    width: 100vw;
    height: 100vh;
  }
  &--dashboard {
    display: grid;
    grid-template-columns: minmax(100px,1fr) minmax(260px,9fr);
    grid-template-rows: 10% 87% 3%;
    grid-template-areas: "menu  top" "menu main" "menu footer";
    // width: 100vh;
    // height: 100vh;
    height: 100%;
  }
}
.login{
    grid-area: login;
    display: flex;
    flex-direction: column;
}
.menu{
  grid-area: menu;
  background-color: plum;
}
.top{
  grid-area: top;
  background-color: lightgreen;
}
.main{
  grid-area: main;
  background-color: lightsteelblue;
}
.footer{
  grid-area: footer;
  background-color: lightsalmon;
}
